{% extends "massmailer/base.html" %}
{% load i18n staticfiles %}
{% load django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block title %}{% if query %}{{ query.name }}{% else %}{% trans "New query" %}{% endif %} – {% trans "Mailing" %}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'massmailer/vendor/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'massmailer/massmailer.css' %}">
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for 'massmailer:dashboard' %}{% trans "Queries" %}{% endbreadcrumb_for %}
  {% if query %}
  {% breadcrumb_for 'massmailer:query:update' %}{{ query.name }}{% endbreadcrumb_for %}
  {% else %}
  {% breadcrumb_for 'massmailer:query:new' %}{% trans "New query" %}{% endbreadcrumb_for %}
  {% endif %}
{% endblock %}

{% block content %}

  {% if query %}
  <h1>{% blocktrans with name=query.name %}Update query {{ name }}{% endblocktrans %}</h1>
  {% else %}
  <h1>{% trans "New query" %}</h1>
  {% endif %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">&times;</a>
        {% for non_field_error in form.non_field_errors %}
          {{ non_field_error }}
        {% endfor %}
    </div>
  {% endif %}

  <form class="form" method="post" id="editor-form">
    {% csrf_token %}
    {{ form.revisions }}
    <div class="row">
      <div class="col-md-6">
        <h2>{% trans "Details" %}</h2>
        {% crispy form %}
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {% trans "Save query" %}</button>
      </div>

      <div class="col-md-6">
        <h2>{% trans "Preview" %}</h2>

        <div id="result-stats">
          <div class="stat-row">
            <div class="title">{% blocktrans %}<code class="result-model"></code> count{% endblocktrans %}</div>
            <div class="value"><code id="result-count"></code></div>
          </div>
          <div class="stat-row">
            <div class="title">{% trans "Unique user count" %}</div>
            <div class="value"><code id="result-user-count"></code></div>
          </div>
          <div class="stat-row">
            <div class="title">{% blocktrans %}<code class="result-model"></code> accessible by{% endblocktrans %}</div>
            <div class="value"><code id="result-model-name"></code></div>
          </div>
          <div class="stat-row">
            <div class="title">{% trans "Available aliases" %}</div>
            <div class="value"><ul id="result-aliases"></ul></div>
          </div>
        </div>

        <div class="panel panel-default" id="result-wrap">
          <div class="input-group" id="result-pager">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" id="btn-page-previous">
                <i class="fa fa-angle-left"></i></button>
            </span>
            <input type="number" id="result-page" class="form-control">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" id="btn-page-next">
                    <i class="fa fa-angle-right"></i></button>
                </span>
          </div>
          <div class="panel-body">
            <div class="text-danger" id="result-error"></div>
            <table id="result-data" class="table table-striped small">
              <tbody></tbody>
            </table>
          </div>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#wrap-result-sql">
                  {% trans "Generated SQL query" %}
                </a>
              </h4>
            </div>
            <div id="wrap-result-sql" class="panel-collapse collapse" role="tabpanel">
              <pre class="panel-body panel-pre" id="result-sql" style="white-space: pre-wrap;"></pre>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#wrap-syntax-guide">
                  {% trans "Syntax guide & shortcuts" %}
                </a>
              </h4>
            </div>
            <div id="wrap-syntax-guide" class="panel-collapse collapse" role="tabpanel">
              <div class="panel-body">
                <p>{% blocktrans %}Filters are implicity joined by the <code>and</code> operator.
  If you are not querying on the <code>{{ user_model }}</code> model directly, you must create a
  <code>user</code>
  alias targeting a field containing the related user.{% endblocktrans %}</p>
                  <pre>SomeModel [as name]
  .field = 42
  (.field contains "string" or
   .field contains i"case insensitive")
  count(.related_field) > 10

alias some_name = .some_field</pre>
                <dl>
                <dt>{% trans "Available models" %}</dt>
                <dd>
                {% for model in available_models %}
                  <span class="ins-model btn btn-{% if model.user_field %}info{% elif model.is_user %}primary{% else %}default{% endif %} btn-xs"
                        data-alias="{% if not model.is_user and model.user_field %}{{ model.user_field }}{% endif %}"
                        data-clsname="{{ model.cls_name }}"
                        title="{{ model.label }}&#xA;&#xA;{{ model.doc }}">{{ model.name }}</span>
                {% endfor %}
                </dd>
                <dt>{% trans "Available enumerations" %}</dt>
                <dd>
                {% for enum in available_enums %}
                  <div class="dropdown ins-enum" style="display: inline-block">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      {{ enum.name }}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      {% for member in enum.members %}<li><a href="#">{{ member }}</a></li>{% endfor %}
                    </ul>
                  </div>
                {% endfor %}
                </dd>
                <dt>{% trans "Available functions" %}</dt>
                <dd>
                {% for func in available_funcs %}
                  <span class="ins-func btn btn-default btn-xs" title="{{ func.name }}{{ func.signature }}&#xA;&#xA;{{ func.doc }}">{{ func.name }}</span>
                {% endfor %}
                </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}

{% block extra_script %}
  <script type="text/javascript">
    var PREVIEW_URL = '{% url 'massmailer:query:preview' %}';
  </script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/vendor/select2.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/vendor/ace.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/vendor/ext-themelist.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/vendor/ext-language_tools.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/utils.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/query-editor.js' %}"></script>
{% endblock %}
