.preview-container {
  border-radius: 0 0 4px 4px;
  padding: 1.5em;
  margin: 0 0 10px;
  color: #333;
  word-break: break-all;
  word-wrap: normal;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-top: none;
}

#preview-plain .preview-subject, #preview-plain .preview-content {
  color: inherit;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: pre;
  font-size: 13px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: auto;
}

.panel-pre {
  border: none;
  border-top: 1px solid #f5f5f5;
  background: white;
  padding: 15px;
  margin: 0;
  border-radius: 0;
}

.panel-pre:before, .panel-pre:after {
  content: normal;
  display: none;
}

#result-stats {
  margin: 1em 0;
  width: 100%;
}

#result-stats .stat-row {
  display: table;
  border-top: 1px solid #ccc;
  width: 100%;
}

#result-stats .title, #result-stats .value {
  display: table-cell;
  padding: 6px;
}

#result-stats .value {
  text-align: right;
}

#result-aliases {
  list-style: none;
}

#result-aliases li {
  display: inline-block;
  margin: 0 0 4px 4px;
}

#result-aliases li code {
  white-space: nowrap;
}

#result-wrap {
  position: relative;
}

#result-wrap .panel-body {
  overflow: hidden;
}

#result-pager {
  position: absolute;
  width: 190px;
  top: -18px;
  left: calc(50% - 190px / 2);
}

#result-data {
  margin-top: 1em;
  margin-bottom: 0;
}

.wrap-ruler {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font: inherit;
  left: 72ch; /* magic happens here */
  width: 1ch;
  background-color: rgba(255, 0, 0, .2);
  pointer-events: none; /* click through */
}
