{% extends "massmailer/base.html" %}
{% load i18n l10n staticfiles %}
{% load django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block title %}{% trans "Batches" %} – {% trans "Mailing" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for 'massmailer:batch:list' %}{% trans "Batches" %}{% endbreadcrumb_for %}
{% endblock %}

{% block content %}

  <h1>{% trans "Batches" %}</h1>

  <a href="{% url 'massmailer:batch:new' %}" class="btn btn-primary"><i class="fa fa-paper-plane-o"></i> {% trans "New batch" %}</a>

  {% include "massmailer/stub_pagination.html" %}

  <table class="table table-striped">
  <thead><tr>
    <th>{% trans "ID" %}</th>
    <th>{% trans "Initiator" %}</th>
    <th>{% trans "Created" %}</th>
    <th>{% trans "Template" %}</th>
    <th>{% trans "Query" %}</th>
    <th width="70"></th>
    <th>{% trans "Progress" %}</th>
  </tr></thead>
  <tbody>
  {% for batch in batches %}
    <tr>
      <td><a href="{% url 'massmailer:batch:detail' batch.pk %}">{{ batch }}</a></td>
      <td>{% if batch.initiator %}<a href="{{ batch.initiator.get_absolute_url }}">{{ batch.initiator.username }}</a>{% endif %}</td>
      <td>{{ batch.date_created|date:'SHORT_DATETIME_FORMAT' }}</td>
      <td><a href="{% url 'massmailer:template:update' batch.template.pk %}">{{ batch.template }}</a></td>
      <td><a href="{% url 'massmailer:query:update' batch.query.pk %}">{{ batch.query }}</a></td>
      <td>
        <a href="{% url 'massmailer:batch:delete' batch.pk %}" class="btn btn-xs btn-danger" title="{% trans "Delete" %}"><i class="fa fa-trash-o"></i></a>
      {% if batch.completed %}
        <button type="button" class="btn btn-xs btn-default" disabled title="{% trans "Completed" %}"><i class="fa fa-check text-success"></i></button>
      {% else %}
        <form method="post" action="{% url 'massmailer:batch:retry-pending' batch.pk %}" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-xs btn-default" title="{% trans "Retry pending" %}"><i class="fa fa-refresh"></i></button>
        </form>
      {% endif %}
      </td>
      <td>
        <small class="batch-detail" title="{% trans "Total ⋅ Pending ⋅ Sending ⋅ Sent ⋅ Bounced ⋅ Complaints" %}">
          <strong>{{ batch.email_count }}</strong> ⋅
          {{ batch.pending_email_count }} ⋅
          {{ batch.sending_email_count }} ⋅
          {{ batch.sent_email_count }} ⋅
          {{ batch.bounced_email_count }} ⋅
          {{ batch.complained_email_count }}
        </small>
        <div class="progress" style="margin: 0; position: relative;">
          {% localize off %}
          <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{ batch.sending_percentage }}%;"></div>
          <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ batch.sent_percentage }}%;"></div>
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ batch.bounced_percentage }}%;"></div>
          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{ batch.complained_percentage }}%;"></div>
          {% endlocalize %}
        </div>
      </td>
    </tr>
  {% empty %}
    <tr class="text-muted"><td colspan="4"><i class="fa fa-frown-o"></i> {% trans "There is no batch yet." %}</td></tr>
  {% endfor %}
  </tbody>
  </table>

  {% include "massmailer/stub_pagination.html" %}

{% endblock %}
