{% extends "massmailer/base.html" %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'massmailer/vendor/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'massmailer/vendor/font-awesome/css/font-awesome.min.css' %}"/>
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for 'massmailer:dashboard' %}Mailing{% endbreadcrumb_for %}
{% endblock %}

{% block extra_script %}
  {{ block.super }}
  <script src="{% static 'massmailer/vendor/jquery.min.js' %}"></script>
  <script src="{% static 'massmailer/vendor/bootstrap.min.js' %}"></script>
{% endblock %}
