{% extends "massmailer/base.html" %}
{% load i18n staticfiles %}
{% load django_bootstrap_breadcrumbs crispy_forms_tags %}

{% block title %}{% if template %}{{ template.name }}{% else %}{% trans "New template" %}{% endif %} – {% trans "Mailing" %}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'massmailer/vendor/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'massmailer/massmailer.css' %}">
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb_for 'massmailer:dashboard' %}{% trans "Templates" %}{% endbreadcrumb_for %}
  {% if template %}
  {% breadcrumb_for 'massmailer:template:update' %}{{ template.name }}{% endbreadcrumb_for %}
  {% else %}
  {% breadcrumb_for 'massmailer:template:new' %}{% trans "New template" %}{% endbreadcrumb_for %}
  {% endif %}
{% endblock %}

{% block content %}

  {% if template %}
  <h1>{% blocktrans with name=template.name %}Update template {{ name }}{% endblocktrans %}</h1>
  {% else %}
  <h1>{% trans "New template" %}</h1>
  {% endif %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">&times;</a>
        {% for non_field_error in form.non_field_errors %}
          {{ non_field_error }}
        {% endfor %}
    </div>
  {% endif %}

  <form class="form" method="post" id="editor-form">
    {% csrf_token %}
    {{ form.revisions }}
    <div class="row">
      <div class="col-md-6">
        <h2>{% trans "Template" %}</h2>
        {{ form.name|as_crispy_field }}
        {{ form.description|as_crispy_field }}
        {{ form.html_enabled|as_crispy_field }}
      </div>

      <div class="col-md-6">
        <h2>{% trans "Preview with query" %}</h2>
        {{ form.useful_queries|as_crispy_field }}
      {% comment %}
      {% if template.useful_queries.all %}
        <p>
        {% for query in template.useful_queries.all %}
          <a href="{{ query.get_absolute_url }}" class="btn btn-default btn-xs">{{ query.name }}</a>
        {% endfor %}
        </p>
      {% endif %}{% endcomment %}
        {# TODO #}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {{ form.subject|as_crispy_field }}
        <p id="preview-subject-error" class="text-danger"></p>
        {{ form.plain_body|as_crispy_field }}
        <p id="preview-plain-error" class="text-danger"></p>
        {{ form.use_markdown|as_crispy_field }}
        {{ form.html_body|as_crispy_field }}
        <p id="preview-html-error" class="text-danger"></p>
        {{ form.language|as_crispy_field }}
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {% trans "Save template" %}</button>
      </div>

      <div class="col-md-6">
        <h2>{% trans "Preview" %}</h2>
        <p id="preview-error" class="text-danger"></p>
        <div style="overflow: hidden">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#preview-plain" aria-controls="preview-plain" role="tab"
                 data-toggle="tab">{% trans "Plaintext" %}</a></li>
            <li role="presentation">
              <a href="#preview-html" aria-controls="preview-html" role="tab"
                 data-toggle="tab">{% trans "HTML" %}</a></li>
            <li class="pull-right">
              {# <div class="input-group">#}
                <span class="btn-group">
                  <button type="button" class="btn btn-default" id="btn-page-previous">
                    <i class="fa fa-angle-left"></i></button>
                  {# </span> #}
                  {# <input type="search" id="search-input" class="form-control" placeholder="{% trans "Search" %}"/> #}
                  {# <span class="input-group-btn"> #}
                  <button type="button" class="btn btn-default" id="btn-page-next">
                    <i class="fa fa-angle-right"></i></button>
                </span>
              {# </div>#}
            </li>
            <li class="pull-right" style="line-height: 34px; padding-right: 1em">
              <input type="number" min="1" id="result-page" style="width: 4em; text-align: right; border: none; outline: none; background: none">
              / <span id="result-count"></span>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="preview-plain">
              <div class="preview-container">
                {% spaceless %}<div class="preview-subject"><div class="wrap-ruler"></div><div></div></div>{% endspaceless %}
                <hr>
                {% spaceless %}<div class="preview-content"><div class="wrap-ruler"></div><div></div></div>{% endspaceless %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="preview-html">
              <div class="preview-container">
                <div class="preview-subject"></div>
                <hr>
                <div class="preview-content"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>

{% endblock %}

{% block extra_script %}
  <script type="text/javascript">
    var PREVIEW_URL = '{% url 'massmailer:template:preview' %}';
  </script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/vendor/select2.min.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/vendor/ace.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/vendor/ext-themelist.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/vendor/ext-language_tools.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/utils.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'massmailer/template-editor.js' %}"></script>
{% endblock %}
