{% spaceless %}{% autoescape off %}
Bonjour {{ user.first_name }} !

Comme tu le sais sûrement, les inscriptions pour l'édition 2016 du
concours Prologin touchent à leur fin.

Afin de te laisser le temps de finaliser ta soumission, nous avons
décidé de repousser la date limite de soumission au 8 janvier à
23h42.

Pour rappel, tu peux remplir le questionnaire à cette adresse :
https://prologin.org/contest/2016/qualification/

N'hésite pas à soumettre dès maintenant les exercices que tu as
résolus et à le faire régulièrement ! Cela n'entraîne aucune pénalité
pour la phase de séléction en ligne et t'évitera un stress de 
dernière minute, cela nous permettra également de suivre ton 
avancement. Si tu rencontres des difficultés pour résoudre un 
exercice, ou pour toute autre question sur le concours, tu peux 
demander de l'aide sur notre forum : https://prologin.org/forum ;
sur notre salon IRC officiel (#prologin sur chat.freenode.net) ou 
encore nous envoyer un mail (info@prologin.org).

Nous te souhaitons bon courage et bonne chance pour cette édition !

Le président, Alexandre Bonnetain.

-- 
----------------------------------------------------------------------
                             * Prologin *
                 Le Concours National d'Informatique
        14-16 rue Voltaire - 94270 Le Kremlin-Bicêtre - France
          association@prologin.org - https://prologin.org
       https://twitter.com/prologin - https://facebook.com/prologin
----------------------------------------------------------------------

Si tu ne souhaites plus recevoir d'e-mail de Prologin, tu peux cliquer
sur le lien suivant : {{ user.get_unsubscribe_url }}
{% endautoescape %}{% endspaceless %}
