{% spaceless %}{% autoescape off %}
Bonjour {{ user.first_name }} !

Comme tu le sais sûrement, les inscriptions pour l'édition 2016 du
concours Prologin touchent à leur fin.

Afin de te laisser le temps de finaliser ta soumission, nous avons
décidé de repousser la date limite de soumission au 8 janvier à
23h42.

Si tu n'as plus l'âge de participer, n'hésite pas à parler du concours à
tes connaissances qui pourraient être intéressées !

Pour rappel, tu peux remplir le questionnaire à cette adresse :
https://prologin.org/contest/2016/qualification/

N'hésite pas à soumettre dès maintenant les exercices que tu as
résolus et à le faire régulièrement ! Cela n'entraîne aucune pénalité
pour la phase de séléction en ligne et t'évitera un stress de
dernière minute, cela nous permettra également de suivre ton
avancement.

Si tu rencontres des difficultés pour résoudre un exercice, ou pour
toute autre question sur le concours, tu peux demander de l'aide sur
notre forum : https://prologin.org/forum ; sur notre salon IRC officiel
(#prologin sur chat.freenode.net) ou encore nous envoyer un mail
(info@prologin.org).

Note : suite à un problème technique, il est possible que tu aies
reçu cet e-mail en double, nous nous en excusons. :-)

Nous te souhaitons bon courage et bonne chance pour cette édition !

Le président, Alexandre Bonnetain.

-- 
L'équipe Prologin

Si tu ne souhaites plus recevoir d'e-mail de Prologin, tu peux cliquer
sur le lien suivant :
{{ user.get_unsubscribe_url }}
{% endautoescape %}{% endspaceless %}
