{% spaceless %}{% autoescape off %}
Bonjour {{ user.first_name|title }},

Nous avons le plaisir de t'informer que tu es sélectionné{% if user.gender == 1 %}e{% endif %} pour la phase des
épreuves régionales du concours Prologin {{ year }}.

Ton épreuve aura lieu à l'adresse suivante :

{{ center.name }}
{{ center.address }}
{{ center.postal_code }} {{ center.city }}

L'équipe de Prologin te donne rendez-vous le {{ event.date_begin|date:"l d F Y" }}
à partir de 8 heures 45 (début des épreuves à 9 heures). Nous te
demandons de bien vouloir te munir d'une pièce d'identité et de ta
convocation ainsi que de ta fiche de droit à l'image complétée.

Tu devrais recevoir ces documents par La Poste. Si notre lettre ne t'arrive
pas, tu pourras imprimer ceux en pièces jointes.

Pour préparer l'épreuve régionale, voici un article contenant des notions
qu'il est bon de connaître :

- https://prologin.org/forum/entrainement-3/ressources-concernant-lalgorithmique-900/

Quelques autres ressources utiles :

- les sujets écrits des années précédentes :
  https://prologin.org/archives/

- les sujets machines du serveur d'entraînement :
  https://prologin.org/train/

- le forum : https://prologin.org/forum/

- notre salon IRC (#prologin sur chat.freenode.net)

Nous restons à ta disposition pour toutes questions. N'hésite pas
à nous contacter à tout moment par email (info@prologin.org).

Toutes nos félicitations, et à très bientôt !

-- 
L'équipe Prologin
{% endautoescape %}{% endspaceless %}
