{% spaceless %}{% autoescape off %}
Bonjour,

Nous t’annonçons que l'édition 2016 du Concours National d'Informatique,
organisé par Prologin, est lancée !
Pour rappel, ce concours entièrement gratuit est ouvert aux jeunes nés en 1995
et après.

Cette année est chargée de nouveautés, parmis lesquelles :

- Un site web entièrement réécrit, il est maintenant plus beau, plus simple à
utiliser et contient plus plus de fonctionnalités.
- Un nouveau format pour le questionnaire de sélection prenant en compte les
réflexions que vous nous avez faites les années précédentes.
- Des exercices d’algorithmique agrémentés de schémas.

Nous t'invitons donc à te rendre sur notre site Internet. Tu y découvriras
le questionnaire de sélection qu'il te faudra remplir afin te qualifier
en épreuve régionale. Pour y accéder, rends-toi à l'adresse suivante :

https://prologin.org/contest/2016/qualification

Il te sera possible de modifier tes réponses jusqu'au 3 janvier 2016 à 23h42.

Tu trouveras également de plus amples informations sur le concours à l'adresse
suivante :

https://prologin.org/about/contest

Les dates définitives des épreuves régionales sont :

* EPITA – 31 jan 2016
* ISEG Lyon – 06 fév 2016
* ISEG Bordeaux – 06 fév 2016
* ISEG Toulouse – 13 fév 2016
* EPITA – 14 fév 2016
* Université catholique de Louvain (Belgique) – 20 fév 2016
* ISEG Strasbourg – 20 fév 2016
* ISEG Lille – 27 fév 2016
* ISEG Nantes – 27 fév 2016
* ISEN Toulon – 27 fév 2016
* ISEG Lyon – 05 mar 2016
* École Polytechnique – 12 mar 2016

En espérant te compter parmi les candidats de cette vingt-quatrième édition,

--
L'équipe Prologin

Si tu ne souhaites plus recevoir d'e-mails de Prologin, tu peux cliquer
sur le lien suivant : {{ user.get_unsubscribe_url }}
{% endautoescape %}{% endspaceless %}
